.h-55{
	height: 70vh;
}
.tom{
    width: 100%x;
    height: 60vh;

}

.footer{
	background-color: rgb( 20 20 50);
	color: white;
	padding: 0.1rem 0.1rem;
	margin-top: 4rem;
}
.closemargin{
	margin: -11px;
}

.uniform{
	color:yellow;
}

.capital{
	color: rgb(10 100 10);
}
.size{
	width: 7%;
	margin-top: 3px;

}
.sizes{
	width: 5%;
	height: 2.5vh;
	margin-top: 3px;
	margin-right: 10px;
	
}

.siz{
	width: 4%;
	height: 2vh;
}

.arrange{
	font-size: 10px;
}

.logo{
	width: 20%;
}

.get{
	width: 100%;
	height: 3vh;
	margin-top: 7px;
	margin-left: 5px;
}


.li{
	color: white;
}



